@charset "utf-8";


/* * {
    border: solid 1px magenta;
} */

/* ページ内リンクの遷移をなめらかに */
html {
    scroll-behavior: smooth;
}


/* トップページ */
.toppage {
    background-color: #4de4ea;
    border-radius: 50px;
    height: 95vh;
    margin: 30px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ヒーロビューのイラストの大きさと位置 */
.heroview {
    max-width: 400px;
    margin: 0 auto;
}

.heroview img {
    width: 100%;
}

.hero-sub {
    opacity: 0;
    display: none;
}


.hero-title {
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    color: #facd22;
    letter-spacing: 0.05em;
    font-size: clamp(2rem, -0.682rem + 13.41vw, 9.375rem);
}




/* ハンバーガーメニュー */
.hamburger-wrapper {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 100;
    cursor: pointer;
}

.hamburger img {
    width: 100%;
}

.hamburger-wrapper ul {
    position: relative;
    width: 90px;
    height: auto;
}

.hamburger li {
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger-top {
    z-index: 507;
}

.hamburger-home {
    z-index: 506;
    margin-top: 36px;
}

.hamburger-about {
    z-index: 505;
    margin-top: 36px;
}

.hamburger-skill {
    z-index: 504;
    margin-top: 45px;
}

.hamburger-work {
    z-index: 503;
    margin-top: 54px;
}

.hamburger-contact {
    z-index: 502;
    margin-top: 65px;
}

.hamburger-bottom {
    z-index: 501;
    margin-top: 68px;
}


/* クリックした時に、ハンバーガーが展開し、下方向に具材が移動する。 */
.hamburger-home.is-open {
    transform: translateY(20px);
}

.hamburger-about.is-open {
    transform: translateY(40px);
}

.hamburger-skill.is-open {
    transform: translateY(60px);
}

.hamburger-work.is-open {
    transform: translateY(80px);
}

.hamburger-contact.is-open {
    transform: translateY(100px);
}

.hamburger-bottom.is-open {
    transform: translateY(120px);
}

/* クリックした時にハンバーガーが展開し、文字が表示される
.hamburger.is-open span {
    opacity: 1;
} */

/* 動きを滑らかにする */
.hamburger li {
    transition: transform 0.3s;
}

/* h２のテキスト設定 */
h2 {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    color: #1500ff;
    font-size: 50px;
    font-weight: 600;
    margin: 20px;
}

.section-contact h2 {
    margin-bottom: 0px;
}

/* セクション内余白 */
.section-inner {
    max-width: 1100px;
    margin: auto;
    padding: 0 50px;
}

/* アバウト 自己紹介 */
.about-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.about-wrapper img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-wrapper p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.about-wrapper p span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* もっと見るボタン */

.hd-btn {
    display: block;
    margin: 30px auto 0;
    width: 200px;
    height: auto;
    z-index: 100;
}

.hd-btn img {
    width: 100%;
}

/* スキル */

/* グリッド配置 */
.skill-list {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


/* 各スキル中央寄せ*/
.skill-item {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #ffd0cf;
    border-radius: 30px; */
}

/* ピザ */
.pizza-wrap {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.pizza-slice {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.4s ease;
    z-index: 3;
}

.pizza-slice.hide {
    opacity: 0;
    transform: translateY(10px);
}

/* お皿 */
.pizza-dish {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}

/* テキスト */
.skill-name {
    margin-top: 12px;
    font-size: clamp(1.188rem, 1.051rem + 0.68vw, 1.563rem);
    font-weight: 700;
    color: #e43632;
}

.skill-text {
    max-width: 300px;
    margin: 10px 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.skill-text span {
    display: block;
    font-size: 17px;
    font-weight: bold;
}

/* work*/
/* .section_work {
    max-width: 1100px;
    margin: 0 auto;
} */

.slide-items__wrap {
    width: 100%;
    height: 100%;
    margin: auto;
}

.slick-prev {
    left: 0px;
    z-index: 50;
}

.slick-next {
    right: 0px;
    z-index: 50;
}

.slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
}

.slide-items__item {
    width: 200px;
    margin: 0 20px;
}

.slide-items__item img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
}

.slick-prev:before,
.slick-next:before {
    color: #e43632;
    font-size: 40px;
}

/* コンタクト */
.plaid {
    background-color: #fbfbfb;
    background-image: linear-gradient(45deg, #0f1e2680 25%, transparent 25%, transparent 75%, #0f1e2680 75%), linear-gradient(45deg, #0f1e2680 25%, transparent 25%, transparent 75%, #0f1e2680 75%);
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
    height: 200px;

}

.plaid p {
    font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
    margin: 0 auto;
    text-align: center;
    color: #333;
    font-weight: bold;
    padding-top: 30px;
    text-shadow: 0 2px 6px rgba(255, 255, 255, 0.9);
}

.address-area {
    max-width: 500px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.address-area address {
    justify-content: center;
    background-color: #e43632;
    padding: 7px 25px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 30px;
    /* ホバー時の動き */
    transition: transform .25s ease;
}

.address-area a {
    font-family: "Fredoka", sans-serif;
    color: #ffffff;
    font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
    font-weight: 600;
    letter-spacing: 0.05em;
}

/* ホバーとクリック */
.address-area address:hover {
    transform: scale(1.05);
}

.address-area address:active {
    transform: scale(0.95);
}

/* フッター */
footer p {
    font-size: 20px;
    text-align: center;
    color: #333;
}

/* about.html */

/* works.html */
/* ロゴ */
.top-logo {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 50px;
    height: auto;
    z-index: 100;
}

.top-logo img {
    width: 100%;
}

/* 制作物一覧 */
.works-html p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.works-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 50px;
}

/* 制作物ごとに枠をつける。色は仮 */
.work-container {
    /* border: #1500ff solid 5px; */
    background-color: #4de4ea;
    border-radius: 20px;
    padding: 30px;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-container img {
    max-width: 100%;
    height: 350px;
    object-fit: contain;
}

.work-container video {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: 340px;
}

.work-container h3 {
    text-align: center;
    padding: 10px;
    min-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
}

/* .work-container button {
    display: block;
    text-align: center;
    background-color: #e43632;
    padding: 7px 25px;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 30px;
     
    transition: transform .25s ease;
    color: #ffffff;
    font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
    font-weight: 600;
    letter-spacing: 0.05em;
} */

/* ホバーとクリック */
.work-container button:hover {
    transform: scale(1.05);
}

.work-container button:active {
    transform: scale(0.95);
}
/* モーダルウィンドウ */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
}
.modal.active {
    display: block;
    opacity: 1;}

.modal-content {
    background-color: #4de4ea;
    margin: 10px auto;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    text-align: center;
}
.modal-content img {
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    object-fit: contain;
}
.modal-content video {
max-width: 100%;
    margin: 0 auto;
    display: block;
    height: 500px;
}
.modal-content h3 {
    margin: 10px 0;
    font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
}
.modal-text{
    position: relative;
    background-color: #fbfbfb;
    padding: 10px 0;
    border-radius: 20px;
}

.modal-text span{color: #1500ff;
    font-weight: bold;
    display: block;
}
.modal-text p {
    font-size: clamp(1rem, 0.977rem + 0.11vw, 1.063rem);
    line-height: 1.6;
    color: #333;
    margin-bottom: 5px;
}
/* フワッと出てくるアニメーション*/
/* 0.4sで大きく */
    .modal.active .modal-content {
        animation: fadeInScale 0.4s ease forwards;
    }

    @keyframes fadeInScale {
        0% {
            opacity: 0;
            transform: scale(0.8);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

/* レスポンシブ対応 */

@media (max-width: 767px) {
    .toppage {
        margin: 30px;
    }

    .heroview {
        max-width: 250px;
    }

    /* .signboard {
        max-width: 300px;
        position: absolute;
        top: 5%;
        left: 10%;

    } */

    .hamburger-wrapper ul {
        width: 60px;
        height: auto;
    }

    .hamburger-home {
        z-index: 6;
        margin-top: 25px;
    }

    .hamburger-about {
        z-index: 5;
        margin-top: 24px;
    }

    .hamburger-skill {
        z-index: 4;
        margin-top: 32px;
    }

    .hamburger-work {
        z-index: 3;
        margin-top: 38px;
    }

    .hamburger-contact {
        z-index: 2;
        margin-top: 46px;
    }

    .hamburger-bottom {
        z-index: 1;
        margin-top: 48px;
    }

    .about-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .about-wrapper img {
        width: 200px;
        height: 200px;
    }

    .about-content p:nth-of-type(2) {
        text-align: left;
    }

    .hd-btn {
        margin: 20px auto 0;
        width: 150px;
        height: auto;
        z-index: 100;
    }

    .section-skill {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .skill-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-text {
    text-align: left;
    }

    .skill-text span {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

    .slide-items__item img {
        width: 100%;
        height: 300px;
        object-fit: contain;
        object-position: center;
    }

    .slick-prev {
        left: -15px;
        z-index: 50;
    }

    .slick-next {
        right: -15px;
        z-index: 50;
    }

    .slick-prev:before,
    .slick-next:before {
        color: #e43632;
        font-size: 30px;
    }

    .address-area address {
        margin: 0 30px;
    }

    /* works　レスポンシブ */
    .top-logo {
        position: fixed;
        top: 30px;
        left: 15px;
        width: 40px;
        height: auto;
        z-index: 100;
    }

    .works-wrapper {
        grid-template-columns: none;
        margin: 0 auto;
        max-width: 400px;
    }

}

/* @media (max-width: 384px) {
    .slide-items__item {
        width: 50px;
        margin: 0 20px;
    }

    .slide-items__item img {
        width: 100%;
        height: 150px;
        object-fit: contain;
        object-position: center;
    }
} */