@charset "utf-8";


/* * {
    border: solid 1px magenta;
} */

/* ページ内リンクの遷移をなめらかに */
html {
    scroll-behavior: smooth;
}

/* ローディング画面 */
/* .loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #4de4ea;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .load-txt {
    font-size: 45px;
    font-weight: bold;
    color: #1500ff;
    font-family: "Fredoka", sans-serif;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.load-txt span {
    display: inline-block;
    text-transform: uppercase;
    animation: rotate 1s infinite linear;
}

.load-txt span:nth-child(2) {
    animation-delay: 0.1s;
}

.load-txt span:nth-child(3) {
    animation-delay: 0.2s;
}

.load-txt span:nth-child(4) {
    animation-delay: 0.3s;
}

.lload-txt span:nth-child(5) {
    animation-delay: 0.4s;
}

.load-txt span:nth-child(6) {
    animation-delay: 0.5s;
}

.load-txt span:nth-child(7) {
    animation-delay: 0.6s;
}

.load-txt span:nth-child(8) {
    animation-delay: 0.7s;
}

.loading-area span:nth-child(9) {
    animation-delay: 0.8s;
}

.loading-area span:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes rotate {
    10% {
        transform: scale(1.1);
    }

} */

/* トップページ */
.toppage {
    background-color: #4de4ea;
    border-radius: 50px;
    height: 95vh;
    margin: 30px;
    position: relative;
}

/* ヒーロビューのイラストの大きさ */
h1 img {
    position: absolute;
    max-width: 300px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    inset: 0;
    margin: auto;
}

/* ヒーロビューの画像。画像クリックで切り替わり */
.hero-main.is-visible {
    opacity: 0;
}

.hero-sub {
    opacity: 0;
}

.hero-sub.is-visible {
    opacity: 1;
    /* transition: opacity 1s ease-in-out; */
}

/* ハンバーガーメニュー */
.hamburger-wrapper {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 100;
    cursor: pointer;
}

.hamburger img {
    width: 100%;
}

.hamburger-wrapper ul {
    position: relative;
    width: 90px;
    height: auto;
}

.hamburger li {
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger-top {
    z-index: 7;

}

.hamburger-home {
    z-index: 6;
}

.hamburger-about {
    z-index: 5;
}

.hamburger-skill {
    z-index: 4;
}

.hamburger-work {
    z-index: 3;
}

.hamburger-contact {
    z-index: 2;
}

.hamburger-bottom {
    z-index: 1;
}

/* .hamburger a {
    position: relative;
    display: block;
}

はんばーがーめにゅーの文字の位置など
.hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    pointer-events: none;
    opacity: 0;
} */

/* クリックした時に、ハンバーガーが展開し、下方向に具材が移動する。 */
.hamburger-home.is-open {
    transform: translateY(20px);
}

.hamburger-about.is-open {
    transform: translateY(40px);
}

.hamburger-skill.is-open {
    transform: translateY(60px);
}

.hamburger-work.is-open {
    transform: translateY(80px);
}

.hamburger-contact.is-open {
    transform: translateY(100px);
}

.hamburger-bottom.is-open {
    transform: translateY(120px);
}

/* クリックした時にハンバーガーが展開し、文字が表示される
.hamburger.is-open span {
    opacity: 1;
} */

/* 動きを滑らかにする */
.hamburger li {
    transition: transform 0.3s;
}

/* h２のテキスト設定 */
h2 {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    color: #1500ff;
    font-size: 50px;
    font-weight: 600;
    margin: 20px;
}

/* セクション内余白 */
.section_inner {
    width: 100%;
    padding: 0 50px;
}

/* アバウト 自己紹介 */
.about-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.about-wrapper img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-wrapper p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.about-wrapper p span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* もっと見るボタン */

.hd-btn {
    margin: 30px auto 0;
    width: 200px;
    height: auto;
    z-index: 100;
}

.hd-btn img {
    width: 100%;
}


/* スキル */

/* グリッド配置 */
.skill-list {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    ;
}


/* 各スキル中央寄せ＆少しコンパクトに */
.skill-item {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #ffd0cf;
    border-radius: 30px; */
}

/* ピザ */
.pizza-wrap {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.pizza-slice {
    position: absolute;
    inset: 0;
    /* top/left/width/heightまとめて書ける */
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.4s ease;
    z-index: 3;
}

.pizza-slice.hide {
    opacity: 0;
    transform: translateY(10px);
}

/* お皿 */
.pizza-dish {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}

/* テキスト */
.skill-name {
    margin-top: 12px;
    font-size: 25px;
    font-weight: 700;
    color: #e43632;
}

.skill-text {
    max-width: 300px;
    margin: 10px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

/* work*/
/* .section_work {
    max-width: 1100px;
    margin: 0 auto;
} */

.slide-items__wrap {
    width: 100%;
    height: 100%;
    margin: auto;
}

.slick-prev {
    left: 10px;
    z-index: 100;
}

.slick-next {
    right: 10px;
    z-index: 100;
}

.slide-items__item {
    width: 200px;
    margin: 0 20px;
}

.slide-items__item img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
}

.slick-prev:before,
.slick-next:before {
    color: #e43632;
    font-size: 50px;
}

/* コンタクト */
.plaid {
    background-color: #fbfbfb;
    background-image: linear-gradient(45deg, #0f1e2680 25%, transparent 25%, transparent 75%, #0f1e2680 75%), linear-gradient(45deg, #0f1e2680 25%, transparent 25%, transparent 75%, #0f1e2680 75%);
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
    height: 200px;
}

.plaid>p {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: #333;
    padding-top: 30px;
}

.address-area {
    max-width: 500px;
    margin: 20px auto 0;
}

.address-area address {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.X {
    background-image: url(../images/img/X-icon.png);

}


/* フッター */
footer p {
    font-size: 20px;
    text-align: center;
    color: #333;
}

/* レスポンシブ対応 */

@media (max-width: 767px) {
    h1 img {
        position: absolute;
        max-width: 200px;
        inset: 0;
        margin: auto;
    }

    .hamburger-wrapper ul {
        width: 70px;
        height: auto;
    }

    .about-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .about-wrapper img {
        width: 200px;
        height: 200px;
    }

    .hd-btn {
        margin: 20px auto 0;
        width: 150px;
        height: auto;
        z-index: 100;
    }

    .hd-btn img {
        width: 100%;
    }


    .section_skill {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .skill-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .slide-items__item img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: center;
    }

}

/* @media (max-width: 384px) {
    .slide-items__item {
        width: 50px;
        margin: 0 20px;
    }

    .slide-items__item img {
        width: 100%;
        height: 150px;
        object-fit: contain;
        object-position: center;
    }
} */